<% include partials/header %>

<div class="container">
    <h1>Log In</h1>
    <form id="login" method="POST" action="/login" class="input-group">
        <input type="text" name="username" placeholder="username" class="form-control">
        <input type="password" name="password" placeholder="password" class="form-control">
        <button class="btn btn-success form-control">Login</button>
    </form>
</div>

<% include partials/footer %>